@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'SUITE Variable';
	font-weight: 300 900;
	src: url('/fonts/SUITE-Variable.woff2') format('woff2-variations');
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: SUITE Variable, Arial, Helvetica, sans-serif;
}
